connexion >= 2.6.0
connexion[swagger-ui] >= 2.6.0
python_dateutil == 2.6.0
setuptools >= 21.0.0
swagger-ui-bundle >= 0.0.2

Flask~=1.1.2
six~=1.16.0
environs~=9.3.2
# psycopg2-binary>=2.8.6
psycopg2==2.8.6
postgis==1.0.4
urllib3>=1.26.5

dicttoxml~=1.7.4
lat-lon-parser==1.2.0
gunicorn==23.0.0
Flask-Cors==3.0.10
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
