connexion == 2.7.0
python_dateutil == 2.8.1
setuptools >= 21.0.0
Flask~=1.1.2
six~=1.16.0
environs~=9.3.2
psycopg2==2.8.6
postgis==1.0.4
urllib3==1.26.4

dicttoxml~=1.7.4
lat-lon-parser==1.2.0
gunicorn==20.1.0
Flask-Cors==3.0.10